/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
  /*order: 5px solid blue;*/
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  /*border: 4px solid green;*/
  display: flex;
  flex-direction: row;

}


.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  margin-right: 10px;
  /*border: 4px solid orange;*/
}
.links{
  /*border: 4px solid orange;*/
flex-grow: 1;
display: flex;
}

.notifications {
  /*border: 4px solid orange;*/
  justify-self: flex-end;
  display: flex;
}
button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
  align-self: center;
}

.notifications2{
  /*border: 4px solid orange;*/
  justify-self: flex-end;
  margin-left: 5px;
}
.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
  

}


a {
  /* this removes the line under our links */
  text-decoration: none;
  /*color: rebeccapurple;*/
}

ul {
  list-style-type: none;
  /*border: 4px solid gray;*/
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

li{

  /*border: 4px solid purple;*/
  display: flex;
}

a{
  /*border: 4px solid goldenrod;*/
  align-self: center;
}